*{
    margin: 0;
    padding: 0;
}
.title{
    height: 270px;
    width: 100%;
    background-color: #1e272e;
    margin-top: 100px;
}
.title-text{
    padding: 30px  0 0 ;
}
.title-2{
    height: 270px;
    width: auto;
    background-color: #353c44;
}
.title-3{
    height: 450px;
    width: auto;
    background-color: #353c44;
    padding: 120px 0 0 27%;
}
.box-1{
    height: 200px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    border: 2px dashed black;
    box-shadow: 30px 30px 1px white;
}
.foot{
    height: 60px ;
    width: 100%;
}